@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}